.highlight { background-color: #282C34 }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #6f7783; font-style: italic; font-weight: bold } /* Comment */
.highlight .err { color: #AAC991; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #C678DE; font-weight: bold} /* Keyword */
.highlight .o { color: #ABB2BF; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #AAC991 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #AAC991 } /* Generic.Traceback */
.highlight .kc { color: #C678DE; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #C678DE; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #C678DE; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #C678DE; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #C678DE; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #C678DE; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #e88388; font-weight: bold} /* Literal.Number */
.highlight .s { color: #AAC991; font-weight: bold} /* Literal.String */
.highlight .n { color: #ABB2BF; font-weight: bold}
.highlight .na { color: #008080; font-weight: bold} /* Name.Attribute */
.highlight .nb { color: #56B6C2; font-weight: bold} /* Name.Builtin */
.highlight .nc { color: #E5C06D; font-weight: bold} /* Name.Class */
.highlight .no { color: #56B6C2 } /* Name.Constant */
.highlight .nd { color: #56B6C2; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #003699; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #4DAFEF; } /* Name.Function */
.highlight .nl { color: #4DAFEF; font-weight: bold } /* Name.Label */
.highlight .nn { color: #ABB2BF } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .nx { color: #ABB2BF; font-weight: bold }
.highlight .ow { color: #C678DE; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #dbaa79 } /* Literal.Number.Float */
.highlight .mh { color: #dbaa79 } /* Literal.Number.Hex */
.highlight .mi { color: #dbaa79 } /* Literal.Number.Integer */
.highlight .mo { color: #dbaa79 } /* Literal.Number.Oct */
.highlight .sb { color: #e88388 } /* Literal.String.Backtick */
.highlight .sc { color: #e88388 } /* Literal.String.Char */
.highlight .sd { color: #e88388 } /* Literal.String.Doc */
.highlight .s2 { color: #e88388 } /* Literal.String.Double */
.highlight .se { color: #e88388 } /* Literal.String.Escape */
.highlight .sh { color: #e88388 } /* Literal.String.Heredoc */
.highlight .si { color: #e88388 } /* Literal.String.Interpol */
.highlight .sx { color: #e88388 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #e88388 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
